

.search{
-fx-background-color:transparent;
-fx-border-color:linear-gradient(to bottom right, #2d658c,#2ca772);
-fx-border-width:.8px;
-fx-border-radius:8px;
-fx-font-family:"Tahoma";
-fx-font-size:14px;
-fx-padding:0px 0px 0px 28px;

}

.search:focused{
-fx-border-width:1.8px;

}

.table-view .column-header,
.table-view .column-header-background .filler{
-fx-background-color: #2D75E8;
}

.add-btn{
-fx-background-color:#2D5278;
-fx-background-radius:8px;
-fx-cursor:hand;
-fx-text-fill:#fff;
-fx-font-size:14px;
-fx-font-family:"Arial";

}
.add-btn:hover{
-fx-background-color:#2268AE;
}

.update-btn{
-fx-background-color:#2D5278;
-fx-background-radius:8px;
-fx-cursor:hand;
-fx-text-fill:#fff;
-fx-font-size:14px;
-fx-font-family:"Arial";

}
.update-btn:hover{
-fx-background-color:#2268AE;
}

// Dafina Balaj CSS : change the buttons color

.delete-btn{
-fx-background-color:#2d5278;
-fx-background-radius:8px;
-fx-cursor:hand;
-fx-text-fill:#fff;
-fx-font-size:14px;
-fx-font-family:"Arial";

}
.delete-btn:hover{
-fx-background-color:#2268ae;
}

